html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, textarea, button
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}