html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, textarea, button
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body
{
	background-color: grey;
}
header
{
	border-bottom: 2px solid black;
	background-color: rgb(200, 200, 200);
}
h1
{
	text-align: center;
}
h2
{
	margin: 2rem 0;
}
form
{
	max-width: 350px;
	width: 100%;
}
label
{
	margin-bottom: 0.5rem;
	display: block;
}
input
{
	margin-top: 0.2rem;
	padding: 0.2rem 0.4rem;
	display: block;
	width: 100%;
}
textarea
{
	margin-top: 0.2rem;
	min-width: 100%;
	max-width: 100%;
	min-height: 300px;
}
nav a
{
	margin-left: 0.2rem;
	padding: 0.2rem 0.4rem;
}
nav a.active
{
	color: white;
	background-color: black;
}
.main
{
	width: 100%;
}
.main .container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container
{
	margin: 0 auto;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	max-width: 1600px;
	width: 100%;
}
.btn
{
	margin: 1rem 0;
	padding: 0.2rem;
	display: block;
	text-decoration: none;
	text-align: center;
	font-family: inherit;
	font-size: 1.2rem;
	color: black;
	background-color: white;
	transition: background-color 0.2s;
}
.btn:hover
{
	cursor: pointer;
	background-color: orange;
}
.btn.disable
{
	color: white;
	background-color: rgb(50, 50, 50);
}
.btn.disable:hover
{
	cursor: default;
}
.sms-container
{
	width: 100%;
}
.sms-container .sms-error, .sms-container .sms-info
{
	text-align: center;
}
.sms-error, .sms-info
{
	padding: 0.1rem 0.2rem;
	width: 100%;
	background-color: black;
}
.sms-error
{
	color: red;
}
.sms-info
{
	color: green;
}
.articles-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.articles-container .article
{
	margin-bottom: 5vw;
	width: 30%;
	min-height: 220px;
	display: flex;
	flex-direction: column;
	background-color: rgb(200, 200, 200);
}
.articles-container .article h3
{
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 66px;
	color: white;
	background-color: black;
}
.articles-container .article .content, .articles-container .article h3, .articles-container .article .date, .articles-container .article .user
{
	padding: 0.75rem;
}
.articles-container .article .content
{
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}
.articles-container .creation-infos
{
	display: flex;
	justify-content: space-between;
}
.articles-container .article .btn
{
	margin: 0;
}
.pagination-container
{
	display: flex;
}
.pagination-container .btn
{
	margin: 0 0.5rem;
}
.article-container
{
	max-width: 666px;
	list-style: none;
}
.article-container h3
{
	margin-bottom: 1rem;
}
.article-container h3, .article-container p
{
	overflow: hidden;
	text-overflow: ellipsis;
}
.article-container h3
{
	display: inline;
}
.article-container .btn
{
	display: inline-block;
}
.article-buttons
{
	margin-bottom: 1rem;
	display: flex;
	max-width: 666px;
	width: 100%;
}
.article-buttons .btn:last-child
{
	margin-left: auto;
}
.article-form
{
	max-width: 666px;
}