html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, textarea, button
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body
{
	background-color: grey;
}
header
{
	border-bottom: 2px solid black;
	background-color: rgb(200, 200, 200);
}
h1
{
	text-align: center;
}
h2
{
	margin: 2rem 0;
}
form
{
	max-width: 350px;
	width: 100%;
}
label
{
	margin-bottom: 0.5rem;
	display: block;
}
input
{
	margin-top: 0.2rem;
	padding: 0.2rem 0.4rem;
	display: block;
	width: 100%;
}
.main
{
	width: 100%;
}
.main .container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container
{
	margin: 0 auto;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	max-width: 1600px;
	width: 100%;
}
.btn
{
	margin: 1rem 0;
	padding: 0.2rem;
	display: block;
	text-decoration: none;
	text-align: center;
	font-family: inherit;
	font-size: 1.2rem;
	color: black;
	background-color: white;
	transition: background-color 0.2s;
}
.btn:hover
{
	cursor: pointer;
	background-color: orange;
}
.sms-container
{
	width: 100%;
}
.sms-container .sms-error, .sms-container .sms-info
{
	text-align: center;
}
.sms-error, .sms-info
{
	padding: 0.1rem 0.2rem;
	width: 100%;
	background-color: black;
}
.sms-error
{
	color: red;
}
.sms-info
{
	color: green;
}
.articles-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.article
{
	margin-bottom: 5vw;
	width: 30%;
	height: 300px;
	display: flex;
	flex-direction: column;
	background-color: rgb(200, 200, 200);
}
.article h3
{
	height: 100px;
}
.article .content, .article h3, .article .date
{
	padding: 0.75rem;
}
.article .content
{
	flex: 1;
}
.article .date
{
	text-align: right;
}
.article .btn
{
	margin-bottom: 0;
}
